body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #252525;
}

h1 {
  color: #ffffff;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
